
#list .listTitle {
	height:32px;
	background:url(category_tit.gif) repeat-x;
	line-height:32px;
}
#list .listTitle .sort {
	float:right;
	width:205px;
	height:20px;
	margin:6px 20px 0 0;
}
#list .listTitle h2 {
	width:100px;
	float:left;
	color:#666;
	text-indent:15px;
}
#list .imgList ul li {
	width:234px;
	height:325px;
	text-align:center;
	float:left;
}
#list .imgList ul li p {
	color:#979693;
}
#list .imgList ul li p.p1 {
	text-decoration:line-through;
}
#list .imgList ul li p.p2 {
	color:#f6835d;
}
#list .imgList ul li img.pic {
	margin:50px 0 0 0;
}
#list {
	border:1px solid #ededed;
	padding:0 0 90px 0;
}