/*基本格式开始***************************/
body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,textarea,p {
	margin:0px;
	padding:0px;
	font-size:13px;
}
ul{
	list-style:none;
}
img,a img {
	border:0px;
	text-decoration:none;
}
a{
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
.auto {
	width:960px;
	margin:0 auto;
}
/*基本格式结束***************************/

body {
	background:url(body_bg.jpg) repeat-x;
}
#top {
	height:100px;
}
#top .nav {
	height:46px;
	background:url(mainnav_bg.gif) repeat-x;
	margin:15px 0 0 0;
}
#top .nav .same {
	width:10px;
	height:46px;
}
#top .nav .left {
	float:left;
}
#top .nav .right {
	float:right;
}
#top .nav .mainNav {
	width:940px;
	float:left;
}
#top .nav .mainNav .logo {
	width:163px;
	height:46px;
	display:block;
	float:left;
}
#top .nav .mainNav ul {
	width:770px;
	height:46px;
	float:left;
}
#top .nav .mainNav ul li {
	float:left;
}
#top .nav .mainNav ul li a {
	color:#576267;
	font-size:14px;
	display:block;
	width:135px;
	height:46px;
	line-height:46px;
	text-align:center;
	background:url(main_line.gif) no-repeat;
}
#top .nav .mainNav ul li a:hover {
	text-decoration:none;
	background:url(green_bg.jpg);
	color:#fff;
}
#top .nav1 a {
	color:#979693;
}
#top .nav1 .enter {
	width:190px;
	float:right;
	margin:10px 0 0 0;
}
#top .nav1 a:hover {
	text-decoration:none;
}
#top .nav1 a.cart:hover {
	color:#43b43e;
}
#top .nav1 form.search {
	width:186px;
	height:23px;
	background:url(search_03.gif);
	float:right;
	margin:10px 25px 0 0;
}
#top .nav1 .search .keywords {
	width:140px;
	height:20px;
	border:none;
	margin:2px 0 0 10px;
	display:block;
	float:left;
}
#top .nav1 .search .btn {
	width:15px;
	height:16px;
	background:url(search_biao.gif);
	border:none;
	cursor:pointer;
	margin:4px 0 0 7px;
	display:block;
	float:left;
}
#position {
	height:40px;
	line-height:40px;
	border-top:2px solid #f18336;
	color:#979693;
}
#position a {
	color:#333;
}
#bottom {
	text-align:center;
	margin:50px 0;
}
#bottom p {
	color:#999;
}
#bottom a {
	color:#999;
	font-size:30px;
}